@media only screen and (min-width: 0px) {

  body {
    margin: 0;
  }

  .header {
    background-color: red;
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: center;
    border-bottom: 4px solid #000;
    box-sizing: border-box;
  }

  .headerContent {
    width: max-content;
    position: relative;
  }

  input {
    padding: 2px 8px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    position: relative;
  }

  input:focus {
    background-color: #fff;
  }

  .fa-search {
    background-color: white;
    font-size: 0.8em;
    position: absolute;
    top: 6px;
    left: 166px;
    cursor: pointer;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pokeDataContainer {
    width: 100%;
    margin: 48px;
    display: flex;
    justify-content: space-evenly;
  }

  .pokeImg,
  .pokeData {
    width: 154px;
    height: 190px;
    border: 1px solid black;
  }

  .pokeData {
    text-align: center;
    font-size: 1.2em;
  }

  img {
    width: 100%;
  }

  .captureButton {
    background-color: #ff0000bd;
    color: white;
    font-weight: bolder;
    width: 124px;
    height: 48px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .captureButton:hover {
    background-color: #ff0000f1;
  }

  .fa-times {
    color: white;
    font-size: 3em;
    position: absolute;
    top: 30%;
    left: 30%;
    opacity: 0;
    cursor: pointer;
  }

  .capturedContainer {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
  }

  .captured {
    width: 84px;
    height: 84px;
    border: 1px solid black;
    position: relative;
  }

  .captured:hover {
    background-color: #ff0000bd;
  }
}

@media only screen and (min-width: 768px) {
  .pokeImg,
  .pokeData {
    width: 232px;
    height: 212px;
  }

  .captured {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (min-width: 1024px) {
  .pokeImg,
  .pokeData {
    width: 300px;
    height: 300px;
  }
}